

<marquee class="marquee" behavior="alternate"><b>Welcome To Our MailApp Services</b></marquee>
  <h1>Welcome {{user}}</h1>
  {{profilepic}}
  
  <h2 class="home">MailApp Service Is All About To Send Mails</h2>
  <h3 style="color:red">Explore more to use more</h3>
